- 
	var sectionTabs = [
		{name: 'Participants', url: '/participants'},
		{name: 'Schedule', url: '/schedule'},
		{name: 'Travel and accomodation', url: '/travel'}]

doctype html
html
	head
		title= title + " | EREP'18"
		base(href='/erep2018/')
		meta(name='viewport', content='width=device-width')
		link(href='https://fonts.googleapis.com/css?family=Montserrat|Scope+One|Trocchi' rel='stylesheet')
		link(rel='stylesheet', href='stylesheets/style.css')
		block extraHead
	body
		if headerImage
			div.bg-image
		header
			h1 
				a(href='index') EREP'18
			div.header-controls
				#navicon(onclick='toggleDropdownVisibility()') ☰
				nav.hidden
					ul.section-tabs
						li
							a(href='index') Homepage
						each tab in sectionTabs
							li
								a.disabled(href=tab.url) #{tab.name}
					if user
						div.current-session
							span Logged in as 
								span.bold= user.firstName
							a.logout(href='logout') Sign out
					else
						div.current-session
							if registrationEnabled
								a.registration(href='signup') Registration
							else
								div.disabled
									a.registration.disabled(href='signup') Registration
		- const sectionMarginClass = headerImage ? 'image-margin' : 'no-image-margin'
				
		section.main(class=sectionMarginClass)
			block content
		footer
			h2 Sponsored by:
			div.sponsors-grid
				-	
					var sponsorsData = [{name: 'ift', url: 'https://www.ift.uam-csic.es/'},
						{name: 'severoochoa', url: 'https://www.icmat.es/es/Severo-Ochoa'},
						{name: 'mineco', url: 'http://www.mineco.gob.es/'},
						{name: 'csic', url: 'http://www.csic.es/'},
						{name: 'uam', url: 'http://uam.es'}]
				each sponsor in sponsorsData
					a(href=sponsor.url)
						img(src='images/'+ sponsor.name + '-logo.png')
		script(src='scripts/main.js')

