extends layout

block content
	div.centered
		h2 Approved participants:
		if participants.length > 0
			table
				thead
					tr
						th Full name
						th Phone #
						th Affiliation
						th Aff. address
						th Arrival
						th Departure
						th Abstract?
						th
				tbody
					each p in participants
						tr(id=p.id)
							td #{p.fullName}
							td #{p.phoneNumber}
							td #{p.affName}
							td #{p.affAddress}
							td #{p.arrival}
							td #{p.departure}
							if p.hasTalk
								td: a(href=`abstract/${p.id}`) #{p.talkTitle}
							else
								td No
							td
								button.reject(onclick=`unapproveParticipant('${p.id}')`) Revoke
		else
			div.centered
				h1 There are no unapproved requests right now!