doctype html
html
	body
		h1 New registration!
		div
			h2 Personal data:
			ul
				li Full name: #{participant.personalData.title} #{participant.personalData.firstName} #{participant.personalData.familyName}
				li Email address: #{participant.personalData.email}
				li Phone number: #{participant.personalData.phoneNumber}
		div
			h2 Affiliation
			p #{participant.affiliation.name}, with address #{participant.affiliation.address}
		div
			h2 Dates
			p Arrival on #{participant.dateOf.arrival}		
			p Departure on #{participant.dateOf.departure}
		if participant.talk.exists
			div
				h2 Talk data
				ul
					li Abstract title: #{participant.talk.title}
					li
						b  Text:
						p #{participant.talk.abstract}
					li
						b Additional information:
						p #{participant.talk.additionalInfo}
		if participant.grant.doesApply
			div
				h2 Grant request
				p #{participant.grant.explanation}
		div
			h2 Additional information
			p #{participant.additionalInfo}
